.skills-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.skill-container {
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px gray;
}

.fab {
    font-size: 50px;
    height: 50px;
    margin-bottom: 5px;
    color: #993399;
}

.skill-name {
    font-size: 30px;
}

.footnote {
    position: fixed;
    bottom: 15px;
    left: 30%;
}